@page
@model PL.Pages.Clients.clientsModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Client</h5>
                    <a href="CreateClient" class="btn btn-primary">Create</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <a href="GetAllClients" class="btn btn-primary">Get All</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <a href="GetAllClientsWithPaging" class="btn btn-primary">Get All with paging </a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<style>
    .container {
        margin-top: 50px;
    }

    .card {
        margin: 10px;
    }
</style>
